body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Fonts */
@font-face {
  font-family: 'CircularStd-Medium';
  src: local('CircularStd-Medium'),
    url(./fonts/CircularStd-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'CircularStd-Book';
  src: local('CircularStd-Book'),
    url(./fonts/CircularStd-Book.ttf) format('truetype');
}

.circular-std-medium {
  font-family: 'CircularStd-Medium';
}

.circular-std-book {
  font-family: 'CircularStd-Book';
}

/* Text Sizes */
.large-header {
  font-size: 2em;
  font-weight: normal;
}

.header {
  font-size: 1.2em;
}

.sub-header {
  font-size: 1.1em;
}

.card-text {
  font-size: 0.9em;
}

/* Colors */

.yellow {
  color: #fed92a;
}

/* Links */
.text-link {
  color: black;
}

.text-link:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.text-link--white {
  color: white;
}

.text-link--white:hover {
  color: white;
}

.text-link--blue {
  color: #00ade6;
}

.text-link--blue:hover {
  color: #00ade6;
}

/* Spacing */
.space-top-large {
  margin-top: 2em;
}

.space-right {
  margin-right: 1em;
}

.space-left {
  margin-left: 1em;
}

.space-bottom {
  margin-bottom: 1em;
}

.space-bottom-small {
  margin-bottom: 0.5em;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

/* Alignment */
.text-align-center {
  text-align: center;
}

/* Buttons */
.standard-button {
  font-size: 0.9em;
  padding: 0.6em 1.2em;
  border: 1px solid black;
  border-radius: 0.3em;
  font-family: 'CircularStd-Medium';
}

.standard-button:hover {
  cursor: pointer;
}

.standard-button--red {
  background-color: #e60000;
  color: white;
}

.standard-button--yellow {
  background-color: #fed92a;
  color: black;
  margin-top: 3em;
}

/* Main Content */
.main-content-container {
  padding: 2em 5em;
}

.main-content-container--extra-padding {
  padding: 2em 10em;
}

/* Site Header */
.header-image {
  height: 100px;
  width: auto;
}

/* Seconds Section */
.seconds-container {
  height: 1em;
}

/* Score Section */
.score-container {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.score-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
  width: 8em;
  border: 1px solid black;
  border-radius: 0.5em;
  font-family: 'CircularStd-Book';
}

.score-box--blue {
  background-color: #a6deff;
  margin-right: 1em;
}

.score-box--red {
  background-color: #ff9196;
  margin-left: 1em;
}

/* Turn Section */
.end-turn-container {
  display: flex;
  justify-content: flex-end;
}

.end-turn-container__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Instructions */
.icon-hover:hover {
  cursor: pointer;
}

.instructions-container {
  height: 100%;
  width: 100%;
  background-color: #00ade6;
  display: flex;
  flex-direction: column;
  padding: 3em 2em 0 2em;
  color: white;
}

.instructions-close-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.instructions-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4em;
}

/* Spy Master Page */
.spy-master-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Game Cards */
.game-card {
  background-image: url('./assets/unflipped-card.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

.game-card--red {
  background-image: url('./assets/red.png');
}

.game-card--blue {
  background-image: url('./assets/blue.png');
}

.game-card--neutral {
  background-image: url('./assets/neutral.png');
}

.game-card--death {
  background-image: url('./assets/game_over.png');
}

/* Misc */
.word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.minimal-grid-padding {
  padding: 0.2em 0 !important;
}

@media (min-width: 600px) {
  .game-card--spymaster-view {
    height: 8em;
  }

  .spy-master-container {
    padding: 2em 12em;
  }
}

@media (max-width: 600px) {
  .game-card--spymaster-view {
    height: 4em;
  }

  .spy-master-container {
    padding: 2em;
  }
}
